html, body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

body {
  background-color: #F1F1F1; }

* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial, sans-serif;
  color: #0F4775;
  font-weight: lighter; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.1rem; }

h3 {
  font-size: 1.7rem; }

h4 {
  font-size: 1.46rem; }

p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5em; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:link, a:hover, a:visited, a:active {
    color: black; }

a, a:active, a:focus {
  outline: none; }

img {
  max-width: 100%; }

/*******  HEADER ****** */
header {
  border-bottom: 1.5px solid rgba(200, 200, 200, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background: #fff; }
  header #sidebar {
    background: #fff;
    position: absolute;
    left: -100vw;
    z-index: 50;
    width: 100%;
    transition: 0.4s left; }
    header #sidebar #side-nav-list {
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, auto); }
      header #sidebar #side-nav-list li a {
        display: block;
        font-family: "Open Sans", Arial, sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin: 1em;
        font-size: 1.1rem;
        font-weight: lighter; }
        header #sidebar #side-nav-list li a.selected {
          color: #0F4775; }
  header nav {
    display: grid;
    grid-template-columns: 1fr 13fr; }
    header nav #logo-container {
      text-align: center; }
    header nav #logo {
      display: inline-block;
      margin-left: -51px;
      text-align: center;
      padding: 0.5em 0;
      text-transform: uppercase;
      color: #0F4775;
      font-size: 1.1rem; }
    header nav .nav-btn {
      font-size: 1.7rem;
      padding: 0.9em 0.5em;
      align-self: center;
      cursor: pointer;
      display: inline-block;
      width: 51px; }
    header nav #close-btn {
      display: none; }
    header nav #nav-list {
      display: none; }

#nav-link ul li a.selected {
  color: #0F4775; }

/*******  MAIN ****** */
#container {
  padding: 0; }
  #container #landing {
    width: 100%;
    background-image: url("images/pic5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    #container #landing #overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.7; }
    #container #landing #cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center; }
      #container #landing #cta h1 {
        color: white;
        text-align: center;
        width: 90%;
        margin: 0 auto 0.5em;
        font-family: "Open Sans", Arial, sans-serif; }

#about {
  margin-top: 20px; }

img#profile-pic {
  display: block;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto 20px auto; }

p#bio {
  text-align: center; }

.info-container {
  margin: 15px 0 15px 10px; }
  .info-container h3 {
    margin: 15px 0 10px 5px;
    color: #0F4775; }

ul.info-list {
  margin-left: 25px; }
  ul.info-list > li span {
    left: -1.3em; }
    ul.info-list > li span i {
      font-size: 1.1rem;
      color: #4884B6; }
  ul.info-list li {
    padding: 5px;
    font-family: "Open Sans", Arial, sans-serif;
    width: 75%; }

.list-icon {
  color: #4884B6; }

#contact-list {
  text-align: center;
  margin-bottom: 10px; }
  #contact-list li {
    display: inline-block;
    margin: 0 3px; }
    #contact-list li i {
      color: #0F4775;
      font-size: 1.4rem; }
    #contact-list li a, #contact-list li a:visited, #contact-list li a:link {
      color: black; }

ul.sub-info-list {
  margin-left: 35px; }
  ul.sub-info-list li {
    line-height: 1.5; }
    ul.sub-info-list li span {
      left: -1.5em; }
      ul.sub-info-list li span i {
        color: #4884B6;
        font-size: 0.8em; }

#projects-list li strong {
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.2rem; }
#projects-list li a span {
  left: -1.55em; }
#projects-list > li:not(:first-child) {
  margin-top: 15px; }

#contact-container {
  padding: 0 10px; }
  #contact-container h3 {
    text-align: center;
    margin-left: 0; }
  #contact-container #contact-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 1.5em;
    justify-items: center; }
    #contact-container #contact-form fieldset {
      border: none;
      margin: 0;
      padding: 0;
      width: 100%; }
      #contact-container #contact-form fieldset label {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 0.9rem;
        display: block;
        margin-bottom: 0.4em; }
    #contact-container #contact-form input, #contact-container #contact-form textarea {
      display: block;
      font-size: 1rem;
      padding: 0.7em 0.5em;
      border: 1px solid #aaa;
      width: 100%;
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      font-family: "Open Sans", Arial, sans-serif; }
    #contact-container #contact-form textarea {
      min-height: 10em;
      margin: 0; }
    #contact-container #contact-form #submit {
      border: none;
      text-transform: uppercase;
      color: white;
      background: #4884B6;
      padding: 0.8em;
      font-size: 1.1rem;
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: lighter;
      letter-spacing: 0.5px;
      cursor: pointer; }
      #contact-container #contact-form #submit:hover {
        background: #3a6991; }

/******* FOOTER ****** */
footer {
  background-color: #000;
  text-align: center; }
  footer p {
    color: #fff;
    display: inline-block;
    font-weight: lighter; }

/******* MEDIA QUERIES ****** */
@media (min-width: 720px) {
  header nav {
    grid-template-columns: repeat(2, auto); }
    header nav #logo-container {
      align-self: center;
      text-align: left; }
      header nav #logo-container #logo {
        margin: 0;
        padding-left: 1em;
        align-self: center; }
    header nav .nav-btn {
      display: none; }
    header nav #nav-list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      header nav #nav-list li a {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 1.3rem;
        font-weight: 300;
        text-transform: uppercase;
        color: black;
        padding: 1em 0.6em;
        display: inline-block; }
        header nav #nav-list li a:visited {
          color: black; }
        header nav #nav-list li a:hover, header nav #nav-list li a.selected {
          color: #0F4775; }
  header #sidebar {
    display: none; }

  #container #landing #cta h1 {
    font-size: 3.4rem; }

  #contact-container #contact-form {
    margin: 0 20vw; } }
@media (min-width: 1024px) {
  #contact-container #contact-form {
    margin: 0 30vw; } }
@media (min-width: 1920px) {
  h1 {
    font-size: 3.2rem; }

  h2 {
    font-size: 2.6rem; }

  h3 {
    font-size: 2.2rem; }

  h4 {
    font-size: 1.9rem; }

  p {
    font-family: "Open Sans", Arial, sans-serif; }

  a, p {
    font-size: 1.4rem; }

  #profile-pic {
    width: 235px; }

  li {
    max-width: 40%; } }

/*# sourceMappingURL=style.css.map */
