$fontmain: 'Open Sans', Arial, sans-serif
$fonthead: 'Lora', Arial, sans-serif
$fontother: 'Lato', Arial, sans-serif
$blue: #0F4775
$lightblue: #4884B6
$md: 720px
$lg: 1024px
$xl: 1920px
$xxl: 2400px

html, body
  margin: 0
  padding: 0
  font-size: 16px

body
  background-color: #F1F1F1

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  font-family: $fontother
  color: $blue
  font-weight: lighter

h1
  font-size: 2.6rem

h2
  font-size: 2.1rem

h3
  font-size: 1.7rem

h4
  font-size: 1.46rem

p
  font-family: $fontmain
  font-size: 1rem
  line-height: 1.5em

ul
  list-style: none
  margin: 0
  padding: 0

a
  text-decoration: none
  &:link, &:hover, &:visited, &:active
    color: black

a, a:active, a:focus
  outline: none

img
  max-width: 100%

.company-name
  font-weight: bolder

.experience-duration
  font-style: italic

/*******  HEADER *******/
header
  border-bottom: 1.5px solid rgba(200,200,200,0.7)
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 200
  background: #fff
  #sidebar
    background: #fff
    position: absolute
    left: -100vw
    z-index: 50
    width: 100%
    transition: .4s left
    #side-nav-list
      position: absolute
      left: 0
      right: 0
      transform: translateY(-50%)
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, auto)
      li
        a
          display: block
          font-family: $fontmain
          text-align: center
          text-transform: uppercase
          color: black
          margin: 1em
          font-size: 1.1rem
          font-weight: lighter
          &.selected
            color: $blue
  nav
    display: grid
    grid-template-columns: 1fr 13fr
    #logo-container
      text-align: center
    #logo
      display: inline-block
      margin-left: -51px
      text-align: center
      padding: .5em 0
      text-transform: uppercase
      color: $blue
      font-size: 1.1rem
    .nav-btn
      font-size: 1.7rem
      padding: .9em .5em
      align-self: center
      cursor: pointer
      display: inline-block
      width: 51px
    #close-btn
      display: none
    #nav-list
      display: none
#nav-link
  ul li a.selected
    color: $blue


/*******  MAIN *******/
#container
  padding: 0
  #landing
    width: 100%
    background-image: url('images/pic5.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative
    #overlay
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      background-color: #000
      opacity: 0.7
    #cta
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      text-align: center
      h1
        color: white
        text-align: center
        width: 90%
        margin: 0 auto .5em
        font-family: $fontmain
#about
  margin-top: 20px
img#profile-pic
  display: block
  width: 200px
  border-radius: 50%
  margin: 0 auto 20px auto
p#bio
  text-align: center
  
.info-container
  margin: 15px 0 15px 10px
  h3
    margin: 15px 0 10px 5px
    color: $blue
ul.info-list
  margin-left: 25px
  &>li
    span
      left: -1.3em
      i
        font-size: 1.1rem
        color: $lightblue
  li
    padding: 5px
    font-family: $fontmain
    width: 75%
.list-icon
  color: $lightblue
#contact-list
  text-align: center
  margin-bottom: 10px
  li
    display: inline-block
    margin: 0 3px
    i
      color: $blue
      font-size: 1.4rem
    a, a:visited, a:link
      color: black
ul.sub-info-list
  margin-left: 35px
  li
    line-height: 1.5
    span
      left: -1.5em
      i
        color: $lightblue
        font-size: 0.8em

#projects-list
  li
    a
      span
        &.project-title
          font-family: $fontother
          font-size: 1.2rem
          font-weight: bold
        &:not(.project-title)
          left: -1.55em
  &>li
    &:not(:first-child)
      margin-top: 15px

#contact-container
  padding: 0 10px
  h3
    text-align: center
    margin-left: 0
  #contact-form
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(6, auto)
    grid-row-gap: 1.5em
    justify-items: center
    fieldset
      border: none
      margin: 0
      padding: 0
      width: 100%
      label
        font-family: $fontmain
        font-size: 0.9rem
        display: block
        margin-bottom: .4em
    input, textarea
      display: block
      font-size: 1rem
      padding: .7em .5em
      border: 1px solid #aaa
      width: 100%
      -webkit-appearance: none
      -webkit-border-radius: 0
      font-family: $fontmain
    textarea
      min-height: 10em
      margin: 0
    #submit
      border: none
      text-transform: uppercase
      color: white
      background: $lightblue
      padding: .8em
      font-size: 1.1rem
      font-family: $fontmain
      font-weight: lighter
      letter-spacing: .5px
      cursor: pointer
      &:hover
        background: darken($lightblue, 10)

/******* FOOTER *******/
footer
  background-color: #000
  text-align: center
  p
    color: #fff
    display: inline-block
    font-weight: lighter


/******* MEDIA QUERIES *******/
@media (min-width: $md)
  header
    nav
      grid-template-columns: repeat(2, auto)
      #logo-container
        align-self: center
        text-align: left
        #logo
          margin: 0
          padding-left: 1em
          align-self: center
      .nav-btn
        display: none
      #nav-list
        display: flex
        flex-direction: row
        justify-content: flex-end
        li
          a
            font-family: $fontmain
            font-size: 1.3rem
            font-weight: 300
            text-transform: uppercase
            color: black
            padding: 1em .6em
            display: inline-block
            &:visited
              color: black
            &:hover, &.selected
              color: $blue

    #sidebar
      display: none

  #container
    #landing
      #cta
        h1
          font-size: 3.4rem
  #contact-container
    #contact-form
      margin: 0 20vw

@media (min-width: $lg)
  #contact-container
    #contact-form
      margin: 0 30vw

@media (min-width: $xl)
  h1
    font-size: 3.2rem

  h2
    font-size: 2.6rem

  h3
    font-size: 2.2rem

  h4
    font-size: 1.9rem

  p
    font-family: $fontmain
  
  a, p
    font-size: 1.4rem

  #profile-pic
    width: 235px

  li
    max-width: 40%